body {
  background-color: #efefef;
  height: 125vh;
}

.header{
  background-color: #e9967a;
  color: #efefef;
  text-align: center;
}


.custom {
  font-family: Lobster;
  color: #efefef
}

.coral {
  font-family: Lobster;
  color: #e9967a;
}

 /* .nav {
width:800px;
margin:0 auto;
list-style:none;
}
.nav li {
float:left;
}

.nav a {
display:block;
text-align:center;
width:150px; /* fixed width
text-decoration:none;
}

.nav ul li{
  height: 40 px;
  background: #efefef;
}

.nav ul li{
list-style-type: none;
width: 185px;
float: left;
}

.nav ul li a{
text-decoration: none;
color: #e9967a;
font-family: Lobster;
line-height: 40px;
display: block;
 /* border-right: 1px solid #CCC;
text-align:center;
} */

nav ul li:nth-child(1) a {
color: #E9967A;
font-size: 25px;
text-decoration: underline; }

nav ul li:nth-child(2) a {
color: #9ee889;
font-size: 25px;
text-decoration: underline; }

nav ul li:nth-child(3) a {
color: #a0c6e6;
font-size: 25px;
text-decoration: underline; }

nav ul li:nth-child(4) a {
color: #b4a8d5;
font-size: 25px;
text-decoration: underline; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.overlay-image {
 position: relative;
 z-index: -5;
 width: 100%;
}

.overlay-image img {
 display: block;
 width: 70%;
 height: auto;
}

.overlay-image .text {
 color: #efefef;
 font-family: Lobster;
 font-size: 60px;
 text-decoration: underline;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}

.overlay-image .text2 {
 color: #efefef;
 font-family: Lobster;
 font-size: 30px;
 text-decoration: none;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 75%;
 left: 50%;
 padding: 10px;
 transform: translate(-50%, -50%);
 width: 50%;
}



* {
  margin: 0;
  padding: 0;
}

nav {
  width: 800px;
  height: 60px;
  margin-left: 500px;
  list-style: none;
  background-color: none;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display:block;
  font-family: Lobster;
  color: #e9967a;
  font-size: 25px;
  padding: 21px 14px;
  text-decoration: underline;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #efefef;
  border-radius: 0px 0px 4px 4px;
}

nav ul li ul li {
  width: 115px;
  border-radius: 4px;
}


nav ul li:hover ul {
  display: block;
}

nav ul li ul a {
  padding: 12px 14px;
}

nav ul li ul li {
 border-radius: 4px;
}

nav ul li ul a:hover {
  background-color: #dbdbdb;
  border-radius: 0px 0px 4px 4px;
}
